{
    "providers": {
        "eth_mainnet": {
            "blockchain": "ethereum",
            "rpc_url": ""
        }
    },
    "db":{
        "url": "http://localhost:8000",
        "auth": {
            "username": "root",
            "password": "root"
        },
        "namespace": "test",
        "database": "test"
    }
}